<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>HealthSync reads your health data to transmit it to your personal data store.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HealthSync does not write health data, but this permission is required by the system.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.healthsync.refresh</string>
	</array>
</dict>
</plist>
